

-e git+https://github.com/Silverster98/pytorch_kinematics#egg=pytorch_kinematics
git+https://github.com/otaheri/chamfer_distance.git@d2b524309db114d0f7ce18be6c01b3802cde9791
git+https://github.com/Silverster98/pointops
git+https://github.com/daveredrum/Pointnet2.ScanNet.git#subdirectory=pointnet2